
<!DOCTYPE html>
<html>
<head>
  <title>Register</title>

  
  <meta charset="utf-8">
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/1.0.1/tailwind.min.css'>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
  integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
          <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
  integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

  <link href="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.css" rel="stylesheet"/>
  <script src="https://kit.fontawesome.com/a076d05399.js"></script>
  



  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link type="stylesheets" href="{{ url_for('static', filename='styles.css')}}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='jquery-3.4.1.min.js')}}"></script>
  <link type="stylesheet" href="{{ url_for('static', filename='styles.css')}}"></link>
  <link type="stylesheets" href="static/styles.css"></link>

  <script type="text/javascript" src="{{ url_for('static', filename='jquery-3.4.1.min.js')}}"></script>
  <link type="stylesheet" href="{{ url_for('static', filename='styles.css')}}"></link>
  <link href="static/styles.css"></link>
  </head>
  <style>
  body{
    background-color: lightcyan;
  }
  button a{
    color:white;
  }
  button a:hover{
    color:yellowgreen;
  }
  .container{
    margin:5%;
    background-color:rgb(195, 248, 245) ;
    padding:5%;
    box-shadow: 10px 10px rgb(162, 247, 242);
    border-radius: 5%;
  }
  
</style>
<body>

<div class="container">
<form action="{{ url_for('submitquiz')}}" method='POST'>
  <label> <b>Q1.</b> The capital of India is_______</label><br><br>

    <div class="from-check">
        <input class="form-check-input" type="radio" name="q1" id="a" value="a">
        <label class="form-check-label">Delhi</label><br>
        </input>
        <input class="form-check-input" type="radio" name="q1" id="b" value="b">
        <label class="form-check-label">Mumbai</label><br>
        </input>
        <input class="form-check-input" type="radio" name="q1" id="c" value="c">
        <label class="form-check-label">Kolkata</label><br>
        </input>
        <input class="form-check-input" type="radio" name="q1" id="d" value="d">
        <label class="form-check-label">Chennai</label><br><br>
        </input>
    </div>

    <label> <b>Q2.</b> Taj Mahal is located in__________</label><br><br>

    <div class="from-check">
        <input class="form-check-input" type="radio" name="q2" id="a" value="a">
        <label class="form-check-label">Delhi</label><br>
        </input>
        <input class="form-check-input" type="radio" name="q2" id="b" value="b">
        <label class="form-check-label">Agra</label><br>
        </input>
        <input class="form-check-input" type="radio" name="q2" id="c" value="c">
        <label class="form-check-label">Kolkata</label><br>
        </input>
        <input class="form-check-input" type="radio" name="q1" id="d" value="d">
        <label class="form-check-label">Chennai</label><br><br><br>
        </input>
    </div>

    <label> <b>Q3.</b> Taj Mahal is built by__________</label><br>

    <div class="from-check">
        <input class="form-check-input" type="radio" name="q3" id="a" value="a">
        <label class="form-check-label">Akbar</label><br>
        </input>
        <input class="form-check-input" type="radio" name="q3" id="b" value="b">
        <label class="form-check-label">Birbal</label><br>
        </input>
        <input class="form-check-input" type="radio" name="q3" id="c" value="c">
        <label class="form-check-label">ShahJahan</label><br>
        </input>
        <input class="form-check-input" type="radio" name="q3" id="d" value="d">
        <label class="form-check-label">Aurangzeb</label><br><br><br>
        </input>
    </div>

    <button class="btn btn-primary" name="submit">Submit</a></button><br><br><br><br>
  </form>
</div>
</body>
</html>